body {
    font-family: 'Dosis', sans-serif;
    background-image: url("../img/back.jpg");
    background-attachment: fixed;
    z-index: -1;
    background-repeat: no-repeat;
}

.cp-fab {
    background: #fff !important;
    color: #4285f4 !important;
}

.dbreadcrumb {
    font-size: 14pt;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    animation-name: breadcrumb;
    animation-duration: 0.9s;
    margin-bottom: 50px;
}

.dbreadcrumb ol {
    background-color: #D17240;
}

.dbreadcrumb ol a {
    color: white;
    text-decoration: none;
}

div.listatit {
    width: 90%;
    margin: auto auto;
    margin-top: 70px;
    text-align: center;
}

.recs {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 40px;
    height: max-content;
}

.snav {
    background-color: #D17240!important;
    width: 100%;
    height: 65px;
    position: absolute;
    top: 8px;
    border-bottom: 1px solid grey;
    border-top: 0.2px solid grey;
}

.filtros {
    left: 0;
    width: 250px;
    height: 862px;
    font-size: 23pt;
    text-align: center;
}

.fhead {
    line-height: 68.6px;
    height: 64px;
    border-bottom: 1px solid grey;
    width: 100%;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17!important;
}

.fhead p {
    font-weight: bold;
    opacity: 60%;
}

.fbody {
    text-align: left;
    background-color: white!important;
    min-height: 100%;
    height: 1500px;
}

.fbody #ullista {
    margin-left: 20px;
    padding: 10px 0;
    width: 85%;
    padding-top: 30px;
}

.fbody .li1 {
    height: auto;
    border-radius: 1%;
    padding: 2px 0;
    margin-bottom: 5px;
}

.fbody li a {
    color: black;
    opacity: 70%;
    text-decoration: none;
    padding-left: 30px;
    font-size: 14pt;
}

.fbody .lista1,
.lista2,
.lista3,
.lista4,
.lista5,
.lista6 {
    height: 35px;
}

.fbody .labels {
    color: black;
    opacity: 70%;
    text-decoration: none;
    padding-left: 3%;
    font-size: 14pt;
}

.fbody .checkb {
    transform: scale(1.3);
    margin-left: 29%;
}

.fbody #icon {
    margin-right: 7px;
    width: 15px;
}

.fbody .li2 {
    margin-top: 0;
}

.fbody .colecoes {
    position: relative;
    margin-bottom: 21px;
    margin-top: 70px;
}

.fbody .colecoes .li2 #icon {
    margin-right: 10px;
    width: 20px;
}

.fbody .colecoes p {
    font-weight: bold;
    font-size: 17pt;
    opacity: 70%;
    margin-left: 20px;
    margin-bottom: 0;
}

.fhead .snavbar {
    position: absolute;
    top: 25px;
    left: 290px;
    height: 10px;
    width: 200px;
    height: 40px;
    font-size: 15pt;
    line-height: 10px;
    z-index: 60;
}

.fhead .fheader {
    opacity: 70%;
}

.fhead .snavbar #icon {
    margin-left: 7px;
    padding-top: 2px;
    transform: scale(1.2);
}

.fhead .snavbar a {
    color: black;
    text-decoration: none;
}

.fhead #filtro {
    background-color: black;
    z-index: 20;
    text-decoration: none;
    width: 70%;
    margin-left: 27px;
    margin-top: 10px;
    border-radius: 2%;
    font-size: 12pt;
}

.fhead .snavbar .flist {
    padding-top: 20px;
    height: 50px;
    z-index: 20;
}

.fhead .snavbar label {
    cursor: pointer;
}

.fhead .snavbar .flist a {
    z-index: 20;
    color: white;
}

.fhead .snavbar li {
    list-style: none;
    border: none;
    -webkit-appearance: none;
    background-position-x: 244px;
}

.pesquisa {
    right: 20px;
    top: 7px;
    height: 100%;
    position: absolute;
    display: flex;
}

.pesquisa .searchbox {
    position: relative;
    display: block;
    width: 100%;
    height: 85%;
    max-width: 53px;
    transition: 0.4s linear;
    overflow: hidden;
}

.pesquisa .searchbox .searchbox__input {
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: orange;
    padding: 15px;
    color: orange;
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s linear;
}

.pesquisa .searchbox .searchbox__input::placeholder {
    color: orange;
}

.pesquisa .searchbox .searchbox__icon {
    position: absolute;
    right: calc(53px / 2);
    top: 50%;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.pesquisa .searchbox .searchbox__icon #icon {
    width: 20px;
    padding-bottom: 11px;
}

.pesquisa .searchbox:focus-within {
    max-width: 300px;
}

.pesquisa .searchbox:focus-within .searchbox__input {
    background-color: #FFF;
    border: 1px solid orange;
}

.receitas {
    background-color: white!important;
    height: 1500px;
    position: absolute;
    top: 63px;
    padding-bottom: 40px;
    left: 249px;
    border-top: 1px solid grey;
}

.listareceitas {
    margin-top: 60px;
    margin-left: 20px;
    width: 95%;
    height: 700px;
}

.rc .rci {
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    height: 65%;
    margin-bottom: 10px;
}

.rc img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.listareceitas .rc .rcinfo {
    text-align: left;
    padding-left: 15px;
}

.rc .classificacao {
    width: 100%;
}

.listareceitas .r1 .rcinfo h5 {
    opacity: 75%;
}

.rc {
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    width: 21%;
    height: 65%;
    cursor: pointer;
    float: left;
    padding-bottom: 30px;
}